<div class="maincontent feedback">
  <h1>Recent Feedback</h1>

  <div class="feedback-items">
    <% feedback.forEach(item => {%>
    <div class="feedback-item item-list media-list">
      <div class="feedback-item media">
        <div class="feedback-info media-body">
          <div class="feedback-head">
            <div class="feedback-title"><%=item.title%></div>
            <small>by <%=item.name%></small>
          </div>
          <div class="feedback-message"><%=item.message%></div>
        </div>
      </div>
    </div>
    <%});%>
  </div>
</div>
