<html>
  <head>
    <title>An error occured</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>
  <body>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
    />

    <div class="container error-container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-12 text-center">
          <h1 class="big-text">Oops!</h1>
          <h2 class="small-text"><%= status %>: <%= message %></h2>
        </div>
        <div class="col-md-6 text-center">
          <p>
            The page you are looking for might have been removed had its name changed or is
            temporarily unavailable.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
